<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Productivity-PAL</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>


    <nav class="nav-bar">
        <header class="display-flex justify-space-between align-center p-2">
            <h1 class="is-size-1 has-text-success page-title">Productivity-PAL</h1>

            {{#if logged_in}}
            <button class="logout-btn button is-success is-large" id="logout">logout</button>
            {{/if}}
        </header>
    </nav>

    <main class="main">

        {{{body}}}


    </main>

    <footer>
        
    </footer>

{{#if logged_in}}
<script src="/js/logout.js"></script>
{{/if}}
</body>

</html>