<div>
<p>TODO</p>   
{{#each .}}
{{todos.task_name}}
{{/each}}
</div>
<div>
<p>In-Progress</p>
{{#each .}}
{{inProgress.task_name}}
{{/each}}
</div>

<div>
<p>Completed</p>
{{#each .}}
{{completed.task_name}}
{{/each}}
</div>