<div>
<p>TODO</p>   
{{#each todos}}
<li>{{this}}</li>
{{/each}}
</div>
<div>
<p>In-Progress</p>
{{#each inProgress}}
<li>{{this}}</li>
{{/each}}
</div>

<div>
<p>Completed</p>
{{#each completed}}
<li>{{this}}</li>
{{/each}}
</div>