<div class="has-text-centered">
    {{!-- login section --}}
    <form class="form login-form">

        {{!-- login email --}}
    <div class="field">

        <div class="control has-icons-left has-icons-right form-group">
            {{!-- <label for="email-login">email:</label> --}}
            <input class="input is-large" type="text" placeholder="email" id="email-login" />
            <span class="icon is-large is-left">
                <i class="fa fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
                <i class="fa fa-check"></i>
            </span>
        </div>
    </div>

        {{!-- login password --}}
        <div class="control has-icons-left has-icons-right form-group">
            {{!-- <label for="password-login">password:</label> --}}
            <input class="input is-large" type="password" placeholder="password"  id="password-login" />
            <span class="icon is-small is-left">
                <i class="fa fa-lock"></i>
            </span>
            <span class="icon is-small is-right">
                <i class="fa fa-check"></i>
            </span>
        </div>
        {{!-- login button --}}
        <div class="form-group">
            <div class="field">
                <p class="control">
                    <button class="button is-primary is-large" type="submit" id="login-button">login</button>
                </p>
            </div>
        </div>
    </form>


    <p class="temp-notice">or</p>

    {{!-- SIGNUP form --}}
    <form class="field signup-form">

        {{!-- form - sign up username --}}
        <section class="control has-icons-left has-icons-right form-group">
            {{!-- <input class="form-input" type="text" placeholder="Enter username" id="username-signup"> --}}
            <input class="input is-large" type="text" placeholder="Enter username" id="username-signup">
            <span class="icon is-small is-left">
                <i class="fa fa-user"></i>
            </span>
            <span class="icon is-small is-right">
                <i class="fa fa-check"></i>
            </span>
        </section>

        {{!-- form signup email --}}

        <section class="control has-icons-left has-icons-right form-group">
            {{!-- <input class="form-input" type="text" placeholder="Enter email" id="email-login"> --}}
            <input class="input is-large" type="text" placeholder="Enter email" id="email-signup">
            <span class="icon is-small is-left">
                <i class="fa fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
                <i class="fa fa-check"></i>
            </span>
        </section>

        {{!-- form signup password --}}
        <div class="field form-group">
            <section class="control has-icons-left has-icons-right">
                {{!-- <input class="form-input" type="password" placeholder="Password" id="password-login" /> --}}
                <input class="input is-large" type="password" placeholder="Password" id="password-signup" />
                <span class="icon is-small is-left">
                    <i class="fa fa-key"></i>
                </span>
                <span class="icon is-small is-right">
                    <i class="fa fa-check"></i>
                </span>
            </section>

        </div>
</div>

{{!-- signup button --}}
<div class="form-group">
    <button class="button is-primary is-large " type="submit" id="signup-button">Sign Up</button>
</div>
</form>





</div>

<script src="/js/login.js"></script>