<div class="has-text-centered">

    {{!-- login section --}}


    <form class="form login-form">
        <div class="form-group">
            <label for="email-login">email:</label>
            <input class="form-input" type="text" id="email-login" />
        </div>
        <div class="form-group">
            <label for="password-login">password:</label>
            <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit" id="login-button">login</button>
        </div>
    </form>


    <p class="temp-notice">Just until SIGN UP PAGE IS DONE</p>

    {{!-- SIGNUP form --}}
    <form class="field signup-form">

        {{!-- form - sign up username --}}
        <section class="control has-icons-left has-icons-right form-group">
            {{!-- <input class="form-input" type="text" placeholder="Enter username" id="username-signup"> --}}
            <input class="form-input" type="text" placeholder="Enter username" id="username-signup">
            <span class="icon is-small is-left">
                <i class="fa fa-user"></i>
            </span>
            <span class="icon is-small is-right">
                <i class="fa fa-check"></i>
            </span>
        </section>

        {{!-- form signup email --}}

        <section class="control has-icons-left has-icons-right form-group">
            {{!-- <input class="form-input" type="text" placeholder="Enter email" id="email-login"> --}}
            <input class="form-input" type="text" placeholder="Enter email" id="email-signup">
            <span class="icon is-small is-left">
                <i class="fa fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
                <i class="fa fa-check"></i>
            </span>
        </section>

        {{!-- form signup password --}}
        <div class="field form-group">
            <section class="control has-icons-left has-icons-right">
                {{!-- <input class="form-input" type="password" placeholder="Password" id="password-login" /> --}}
                <input class="form-input" type="password" placeholder="Password" id="password-signup" />
                <span class="icon is-small is-left">
                    <i class="fa fa-key"></i>
                </span>
                <span class="icon is-small is-right">
                    <i class="fa fa-check"></i>
                </span>
            </section>

        </div>
</div>

{{!-- signup button --}}
<div class="form-group">
    <button class="button is-primary is-large " type="submit" id="signup-button">Sign Up</button>
</div>
</form>





</div>

<script src="/js/login.js"></script>