<!DOCTYPE html>
<html>

<head>
    <title>Productivity-PAL</title>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="has-text-centered">

<div class="row justify-space-between-md">
    <div class="login-card">

    <h1 class="is-size-1 has-text-success page-title">Productivity-PAL</h1>
        <h2 class="is-size-3" id="login-text">Login</h2>
    
    <form class="field long-form">
        <section class="control has-icons-left has-icons-right form-group">
        {{!-- <input class="form-input" type="text" placeholder="Enter email" id="email-login"> --}}
        <input class="input" type="text" placeholder="Enter email" id="email-login">
            <span class="icon is-small is-left">
                <i class="fa fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
                <i class="fa fa-check"></i>
            </span>
        </section>


        <div class="field form-group">
            <section class="control has-icons-left has-icons-right">
                {{!-- <input class="form-input" type="password" placeholder="Password" id="password-login" /> --}}
                <input class="input" type="password" placeholder="Password" id="password-login" />
                    <span class="icon is-small is-left">
                        <i class="fa fa-key"></i>
                    </span>
                    <span class="icon is-small is-right">
                        <i class="fa fa-check"></i>
                    </span>
            </section>

        </div>
    </div>
    </form>

    <div class="form-group">
        <button class="button is-primary is-large " type="sumbit" id="login-button">login</button>
    </div>

    <p>or</p>

    {{!-- <section class="signup-link" type="link">{{{Sign Up}}}</section> --}}
    <section class="signup-link" type="link">Sign Up</section>

</div>





</body>

</html>