:root {
  --primary: #3d5852;
  --secondary: #86938f;
  --tertiary: #5e877f;
  --quatrinary: #6c6b67;
  --light: #e3e4e3;
  --dark: #182c23;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;

}


body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: white;
  align-items: center;
  font-size: 2rem !important;
}

.nav-bar {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  margin-top: 3rem;
}

.main {
  margin-top: 4rem;
  width: 50%;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}

.card-header {
  margin-top: 30px;
  font-size: 20px;
  font-weight: bolder;
  /* margin-bottom: 30px; */
}

.create-task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.card-content {
  margin-top: 30px;
  padding: 0 !important;
}


.todo-list span {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}

.page-title {
  /* margin-top: 4rem; */

}

.login-form {
  /* justify-self: center; */

}

.temp-notice {
  font-size: 30px;
}

#logout {
  align-self: center;
}

#login-button {
  margin-top: 20px;
  display: block;
  width: 100%;
}

#signup-button {
  margin-top: 20px;
  display: block;
  width: 100%;
}


#email-login {
  margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .nav-bar, .create-task {

    flex-direction: column;
  }
}