:root {
  --primary: #E8E1EF;
  --light: white;
  --dark: #675874;
  --border-radius: 0.3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;

}

.is-primary, #nav-title {
  color: #675874 !important
}

.button {
    background-color: white !important;
    border: 2px solid #675874 !important;
}


body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: #E8E1EF !important;
  align-items: center;
  font-size: 2rem !important;
}

.nav-bar {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  margin-top: 3rem
}

.main {
  margin-top: 4rem;
  width: 50%;
}

.card-header {
  margin-top: 30px;
  font-size: 20px;
  font-weight: bolder;

}

.create-task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.card-content {
  margin-top: 30px;
  padding: 0 !important;
}


.todo-list span {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}

.page-title {
  font-weight: 600;
  font-size: 3.5rem !important;

}



#logout {
  align-self: center;
}

#login-button {
  margin-top: 20px;
  display: block;
  width: 100%;
  background-color: white;
  border: 2px solid #675874;
}

#signup-button {
  margin-top: 20px;
  display: block;
  width: 100%;
  background-color: white;
  border: 2px solid #675874;
}


#email-login {
  margin-bottom: 20px;
}

@media screen and (max-width: 600px) {

  .nav-bar,
  .create-task {

    flex-direction: column;
  }
}